name: deploy iCalendar files

on:
  push:
    branches: [ main ]

  workflow_dispatch:

env:
  icaldir: ical
  HORAIRES_SANS_ACRONYMES: ${{ vars.HORAIRES_SANS_ACRONYMES }}

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '16'

      - uses: webfactory/ssh-agent@v0.7.0
        with:
            ssh-private-key: ${{ secrets.HEBESI_HE2BWEB }}

      - name: generate config file
        run: |
          # the redirection avoids progress meter
          git clone --depth 1 git@github.com:HEB-ESI/he2besi-web 2>&1 | cat
          rm -rf he2besi-web/.git # so that git does not complain about this being a submodule
          mkdir -p build/config
          npm install
          node scripts/getEvents.mjs -d ical/2022-2023/q2/cours/ >build/events.json
          mkdir -p "$icaldir"/{cours,groupes,profs,salles}
          node scripts/generate-ics.mjs "$icaldir"/ build/events.json build/calendars.json
          # node scripts/generate-calendars-json.js "$icaldir" he2besi-web/jekyllsrc/_data/personnels.json >build/calendars.json
          { printf '<p>Last update: <time>%s</time></p>' "$(date)"; } >build/index.html
          mv ical -t build
          
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: build # The folder the action should deploy.
